@use "styles" as *;

.shoppingListContainer {
  width: 90vw;
  max-width: 760px;
  margin: 2rem auto;
  padding: 1rem;

  .standardList {
    @include listStyles($yellow-100, $yellow-500, $yellow-500, $gray-500);
  }

  .vegetableList {
    @include listStyles($green-100, $green-600, $green-600, $green-100);
  }

  .meatList {
    @include listStyles($red-100, $red-500, $red-500, $red-100);
  }

  .empty {
    position: relative;
    width: auto;
    min-height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    background-color: $white;

    & div {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
