@use "styles" as *;

.shoppingListContainer {
  width: 90vw;
  max-width: 760px;
  margin: 2rem auto;
  padding: 1rem;

  .title {
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .standardList {
    @include listStyles(rgb(255, 255, 225), yellow, yellow, gray);
  }

  .vegetableList {
    @include listStyles(rgb(225, 255, 225), green, green, rgb(225, 255, 225));
  }

  .meatList {
    @include listStyles(rgb(255, 225, 225), red, red, rgb(255, 225, 225));
  }

  .empty {
    position: relative;
    width: auto;
    min-height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    background-color: white;

    & div {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
