.toggleSwitchArea {
  display: grid;
  justify-content: flex-end;
  background-color: white;
  /* margin: 1rem 1rem 1rem auto; */

  .labeledToggleSwitch {
    width: fit-content;
    height: 3rem;
    border: 3px solid #ddd;
    padding: 0.5rem 1rem;
    margin-bottom: -3px; /* borderを重ねるためborder幅の分ずらす */

    display: flex;
    flex-direction: row;
    align-items: center;

    .labelText {
      width: 8rem;
      text-align: center;
    }

    .helpButton {
      margin-left: 1rem;
    }

    .toggleSwitch {
      margin-left: 4rem;
    }
  }
}
