@use "styles" as *;

.addCartButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100vh;
  border: 2px solid $orange-700;
  background-color: $orange-500;
  color: $white;
  box-shadow: 2px 2px 4px $gray-500;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 1rem;
  width: 11rem;
  cursor: pointer;

  @include hover {
    transition: 0.2s all;
    transform: scale(1.05);
  }

  &:disabled {
    pointer-events: none;
    background-color: $gray-200;
    border: 2px solid $gray-200;
  }
}
