@use "styles" as *;

.cartsHeader {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: $green-600;
  
  .title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: $white;
    margin-left: 1rem;

    .penIcon {
      font-size: 1.2rem;
    }
  }
}
