.spinButton {
  & input {
    height: 1.5rem;
    width: 4rem;
    text-align: center;
  }

  & button {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(255, 129, 56);
    color: white;
    border: 1px solid #b84c00;
    cursor: pointer;

    &:hover {
      transition: 0.2s all;
      transform: scale(1.1);
    }

    &:disabled {
      pointer-events: none;
      background-color: rgb(190, 190, 190);
      border: 1px solid rgb(190, 190, 190);
    }
  }

  .errorMessage {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin: 0.3rem auto;
  }
}
