$white: #ffffff;
$black: #000000;

$gray-100: #ececec;
$gray-200: #cccccc;
$gray-300: #b3b3b3;
$gray-400: #999999;
$gray-500: #808080;
$gray-600: #666666;
$gray-700: #4d4d4d;
$gray-800: #333333;
$gray-900: #1a1a1a;

$green-100: #f0fdef;
$green-200: #e7f5e6;
$green-300: #e0f4df;
$green-400: #c3e9c1;
$green-500: #a7e7a3;
$green-600: #8be485;
$green-700: #6fe26a;
$green-800: #53e04c;
$green-900: #37de2e;

$yellowgreen-100: #f4ffe5;
$yellowgreen-200: #eeffd6;
$yellowgreen-300: #e7ffc6;
$yellowgreen-400: #dbffab;
$yellowgreen-500: #d3ff96;
$yellowgreen-600: #c6ff76;
$yellowgreen-700: #baff57;
$yellowgreen-800: #a9ff3a;
$yellowgreen-900: #99ff1d;

$yellow-100: #fffee8;
$yellow-200: #fffed1;
$yellow-300: #fffdb9;
$yellow-400: #fffc9e;
$yellow-500: #fffb86;
$yellow-600: #fff96b;
$yellow-700: #fff850;
$yellow-800: #fff636;
$yellow-900: #fff41b;

$orange-100: #fff4e9;
$orange-200: #ffebd6;
$orange-300: #ffd9b2;
$orange-400: #ffc88f;
$orange-500: #ffb972;
$orange-600: #ffae5c;
$orange-700: #ffa549;
$orange-800: #fb952e;
$orange-900: #f07e09;

$red-100: #ffeded;
$red-200: #ffdfdf;
$red-300: #ffcaca;
$red-400: #faa3a3;
$red-500: #f28585;
$red-600: #f16f6f;
$red-700: #fc5656;
$red-800: #de3939; 
$red-900: #cb1414;
