$white: #ffffff;
$black: #000000;

$gray-100: #1a1a1a;
$gray-200: #333333;
$gray-300: #4d4d4d;
$gray-400: #666666;
$gray-500: #808080;
$gray-600: #999999;
$gray-700: #b3b3b3;
$gray-800: #cccccc;
$gray-900: #e6e6e6;
