@use "styles" as *;

.pageLayout {
  background-color: $gray-100;

  .pageContent {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: $white;
  }
}
