@use "styles" as *;

.pageLayout {
  background-color: $gray-100;

  .pageContainer {
    padding-bottom: 1rem;
    background-color: $white;
    max-width: 800px;
    margin: 0 auto;

    .pageContent {
      position: relative;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }
}
