@use "styles" as *;

.spinButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  & input {
    height: 1.5rem;
    width: 4rem;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  & button {
    height: 2rem;
    width: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: $orange-500;
    color: $white;
    border: 1px solid $orange-700;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    @include hover {
      transition: 0.2s all;
      transform: scale(1.1);
    }

    &:disabled {
      pointer-events: none;
      background-color: $gray-200;
      border: 1px solid $gray-200;
    }
  }

  .errorMessage {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    background-color: $gray-500;
    color: $white;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin: 0.3rem auto;
  }
}
