@use "styles" as *;

.spinButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9rem;
  gap: 3rem;

  .spinButtonArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cartIconArea {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cartName {
      font-size: 1rem;
      font-weight: bold;
      color: $gray-400;
      position: absolute;
      top: 0rem;
      right: 3.7rem;
    }
  }

  .closeButton {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }
}
