@use "styles" as *;

.inputModeRadioButton {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  .radioButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: solid 2px $green-400;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;

    .radioButton {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;
      color: $gray-900;

      .radioMark {
        position: relative;
        height: 1.2rem;
        width: 1.2rem;
        border: solid 2px $gray-200;
        border-radius: 50%;
        box-sizing: border-box;

        /* 選択時に重ねる円 */
        &:after {
          content: "";
          position: absolute;
          background: transparent;
          border-radius: 50%;
          top: 2px;
          bottom: 2px;
          left: 2px;
          right: 2px;
        }
      }

      input {
        display: none;
        cursor: pointer;
      }
    }

    .desc {
      font-size: 0.85rem;
      color: $gray-600;
    }

    // input:checked ~ .radioMark:after {
    //   opacity: 1;
    // }

    // input:checked ~ .desc {
    //   background-color: rgba(244, 67, 54, 0.1);
    //   border-radius: 0.2rem;
    //   padding: 0.1rem;
    // }

    // &:first-of-type {
    //   left: 0.5rem;
    // }

    // &:nth-of-type(2) {
    //   left: calc(50% + 0.5rem);
    // }

    &:has(:checked) {
      background-color: $orange-100;
      border-color: $orange-500;

      .radioMark {
        border-color: $orange-500;
        &:after {
          background: $orange-500;
        }
      }
    }
  }
}
