@use "styles" as *;

.shoppingListHeader {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .actionButtons {
    font-size: 0.9rem;

    .copyButton {
      @include hover {
        --copy-icon-color: gray;
      }
    }
  }
}
