/* 参考: https://design-library.jp/lab/icons-copy */

$copy-icon-color: #333;
$copy-icon-background: #fff;

.copyIconWrapper {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  cursor: pointer;
}

// 後ろの紙
.copyIconBack {
  position: absolute;
  bottom: 0.2em;
  left: 0.2em;
  width: 0.63em;
  height: 0.9em;
  background: $copy-icon-background;
  border: 0.1em solid $copy-icon-color;
  border-radius: 0.1em;
  box-sizing: content-box;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0.63em 100%,
    0.63em 0.5em,
    0.315em 0.2em,
    0 0.2em
  );
}

// 手前の紙
.copyIconFront {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $copy-icon-color;
  width: 0.63em;
  height: 0.9em;
  background: $copy-icon-background;
  border: 0.1em solid currentColor;
  border-radius: 0.1em;
  box-sizing: content-box;
  clip-path: polygon(0.515em 0%, 100% 0.315em, 100% 100%, 0 100%, 0 0);

  // 紙の折れ曲がり
  > div {
    content: "";
    position: absolute;
    top: -0.1em;
    left: 50%;
    width: 0.315em;
    height: 0.315em;
    border: 0.1em solid currentColor;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 0.1em;
    box-sizing: content-box;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0.44548em;
      height: 0.1em;
      background: currentColor;
      transform: rotate(45deg);
      transform-origin: left top;
    }
  }
}
