@use "styles" as *;

.copyButton {
  width: 8rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  cursor: pointer;

  .copyStatus {
    color: var(--copy-icon-color);
  }
}