@use "styles" as *;

.copyButton {
  font-size: 20px;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 2rem;
  cursor: pointer;

  @include hover {
    transition: 0.2s all;
    transform: scale(1.05);
  }
}