.striped-table {
  width: auto;
  border-collapse: collapse;
  margin: 0 auto;

  & thead {
    border-bottom: 3px solid #ddd;
  }

  & th,
  & td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }

  & th {
    background-color: #f4f4f4;
  }

  & tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  & tbody tr:nth-child(even) {
    background-color: #e9e9e9;
  }
}
