.shoppingList {
  width: auto;
  /* background-color: rgb(255, 255, 222);
  border: 3px solid yellow;
  border-radius: 10px; */
  margin: 2rem;
  padding: 1rem;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
  }

  .list {
    width: auto;
    min-height: 200px;
    background-color: rgb(255, 255, 222);
    border: 3px solid yellow;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
  }
}
