@use "styles" as *;

:root {
  --cross-icon-color: #{$gray-800};
  --cross-icon-background: transparent;
}

.crossIcon {
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.15em;
    height: 1em;
    background-color: currentColor;
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
