@use "styles" as *;

/* 参考: https://qiita.com/mimoe/items/0bcba94da365499e9c6b */

$gear-icon-color: $gray-400;

.gearIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  color: $gear-icon-color;
  background-color: transparent;
  cursor: pointer;

  .gearBody {
    color: transparent;
    width: 0.375em;
    height: 0.375em;
    border: 0.1875em solid $gear-icon-color;
    border-radius: 50%;
  }

  .gearTooth {
    position: absolute;
    width: 0.2em;
    height: 1em;
    background-color: $gear-icon-color;
    border-radius: 0.0625em;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 0.7em,
      100% 0.7em,
      100% 0.3em,
      0 0.3em
    );

    @for $i from 0 through 3 {
      &:nth-child(#{$i}) {
        transform: rotate(45deg * $i);
        transform-origin: center center;
      }
    }
  }
}
