@use "styles" as *;

/* 参考: https://qiita.com/mimoe/items/0bcba94da365499e9c6b */

.listIcon {
  $icon-size: 1em;
  width: $icon-size;
  height: $icon-size;
  border: 0.1em solid currentColor;
  border-radius: 0.1em;
  position: relative;

  $interval-length: calc(#{$icon-size} / 4);
  $negative-interval-length: calc(-1 * $interval-length);

  // 箇条書きのビュレット
  $bullet-size: 0.12em;
  &:before {
    position: absolute;
    top: calc((#{$icon-size} - #{$bullet-size}) / 2);
    left: 0.1em;
    content: "";
    width: $bullet-size;
    height: $bullet-size;
    box-shadow: inset 0 0 0 0.1em currentColor,
      0 #{$negative-interval-length} 0 0 currentColor,
      0 #{$interval-length} 0 0 currentColor;
  }

  // ビュレットの右の直線
  $line-height: 0.08em;
  $line-width: calc(100% - #{$bullet-size} - 0.3em);
  &:after {
    position: absolute;
    top: calc((#{$icon-size} - #{$line-height}) / 2);
    left: calc(#{$bullet-size} + 0.2em);
    content: "";
    width: $line-width;
    height: $line-height;
    box-shadow: inset 0 0 0 0.1em currentColor,
      0 #{$negative-interval-length} 0 0 currentColor,
      0 #{$interval-length} 0 0 currentColor;
  }
}
