@use "styles" as *;

/* 参考: https://design-library.jp/lab/icons-create */

.penIcon {
  color: $white;
  position: relative;
  width: 1.05em;
  height: 0.2em;
  background: currentColor;
  border-radius: 0 0.075em 0.075em 0;
  transform: rotate(-45deg);

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.1em 0.15em;
    border-right-color: currentColor;
    border-left: 0;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.15em;
    border-left: 0.05em solid $black;
    box-sizing: content-box;
  }
}
