.appHeader {
    position: sticky;
    top: 0;
    left: 0;
    background-color: green;
    box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 72px;
    z-index: 3;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    padding: 1rem;

    .title{
        color: white;
        font-size: 32px;
    }

    .settingButton {
        position: absolute;
        right: 2rem;
    }

    .toggleSwitchArea {
        position: absolute;
        top: 72px;
        right: 0;
    }
}