.appHeader {
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;
    z-index: 3;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    padding: 1rem;
}