@use "styles" as *;

.striped-table {
  width: auto;
  border-collapse: collapse;
  margin: 0 auto;

  & thead {
    border: 2px solid $green-600;
  }

  & td {
    padding: 10px 15px;
    border: 1px solid $gray-300;
    text-align: center;
  }

  & th {
    padding: 10px 15px;
    text-align: center;
    background-color: $green-600;
    color: $white;
    border: 1px solid $white;
  }

  & tbody tr:nth-child(odd) {
    background-color: $white;
  }

  & tbody tr:nth-child(even) {
    background-color: $orange-100;
  }
}
